/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700&display=swap');

@font-face{
    font-family:"Amsterdam";
    src:url("https://fontsme.com/wp-data/a/136/21136/file/AmsterdamThreeSlant-axaym.ttf") format("woff"),
    url("https://fontsme.com/wp-data/a/136/21136/file/AmsterdamThreeSlant-axaym.ttf") format("opentype"),
    url("https://fontsme.com/wp-data/a/136/21136/file/AmsterdamThreeSlant-axaym.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
